<!-- begin #content -->
<div id="content" class="content">
    <!-- begin container -->
    <div class="container">
        <!-- begin row -->
        <div class="row row-space-30">
            <!-- begin col-9 -->
            <div class="col-md-9">
                <!-- begin post-detail -->
                <div class="post-detail section-container">
                    <ul class="breadcrumb">
                        <li><a href="#">Home</a></li>
                        <!-- <li><a href="#">Sports</a></li> -->
                        <li class="active">{{baccbid.article.title}}</li>
                    </ul>
                    <h4 class="post-title">
                        <a href="#">{{baccbid.article.title}}</a>
                    </h4>
                    <div class="post-by">
                        Posted By <a href="#">{{baccbid.article.profile.profileOverrides.name}}</a> <span class="divider">|</span> {{baccbid.article.dateCreated | date: d/MMM/yyyy}} <span class="divider">|<span ng-repeat="tag in baccbid.article.tags track by $index"><a href="#" >{{tag}}</a><span ng-if='$last === false'>, </span></span>
                        |</span> 2 Comments
                    </div>
                    <!-- begin post-image -->
                    <div class="post-image">
                        <img ng-src="{{baccbid.article.imageURL}}" alt="" />
                    </div>
                    <!-- end post-image -->
                    <!-- begin post-desc -->
                    <div class="post-desc">
                        <p ng-bind-html="baccbid.article.articleContent"></p>
                    </div>
                    <!-- end post-desc -->
                </div>
                <!-- end post-detail -->
                <!-- begin section-container -->
                <div class="section-container">
                    <h4 class="section-title"><span>All Comments (3)</span></h4>
                    <!-- begin comment-list -->
                    <ul class="comment-list">
                        <li>
                            <!-- begin comment-avatar -->
                            <div class="comment-avatar">
                                <i class="fa fa-user"></i>
                            </div>
                            <!-- end comment-avatar -->
                            <!-- begin comment-container -->
                            <div class="comment-container">
                                <div class="comment-author">
                                    Aquila Erik
                                    <span class="comment-date">
                                            on <span class="underline">June 6, 2015</span> at <span class="underline">6:17 pm</span>
                                    </span>
                                </div>
                                <div class="comment-content">
                                    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec gravida blandit risus at finibus. In suscipit ligula velit, vel commodo libero viverra nec. Aenean luctus eleifend enim quis luctus. Aliquam vulputate placerat ullamcorper.
                                </div>
                                <div class="comment-btn pull-left">
                                    <a href="#"><i class="fa fa-reply"></i> Reply</a>
                                </div>
                                <div class="comment-rating">
                                    Like or Dislike:
                                    <a href="#" class="m-l-10 text-inverse"><i class="fa fa-thumbs-up text-success"></i> 154</a>
                                    <a href="#" class="m-l-10 text-inverse"><i class="fa fa-thumbs-down text-danger"></i> 112</a>
                                </div>
                                <!-- begin comment-list -->
                                <ul class="comment-list">
                                    <li>
                                        <!-- begin comment-avatar -->
                                        <div class="comment-avatar">
                                            <i class="fa fa-user"></i>
                                        </div>
                                        <!-- end comment-avatar -->
                                        <!-- begin comment-container -->
                                        <div class="comment-container">
                                            <div class="comment-author">
                                                Gevorg Silvester
                                                <span class="comment-date">
                                                        on <span class="underline">June 6, 2015</span> at <span class="underline">8:17 pm</span>
                                                </span>
                                            </div>
                                            <div class="comment-content">
                                                Quisque aliquam arcu nec nibh eleifend, ac varius ante lacinia. Nam nec varius enim, vel mollis dui. Duis malesuada lorem metus, ut placerat turpis vulputate vitae.
                                            </div>
                                            <div class="comment-btn pull-left">
                                                <a href="#"><i class="fa fa-reply"></i> Reply</a>
                                            </div>
                                            <div class="comment-rating">
                                                Like or Dislike:
                                                <a href="#" class="m-l-10 text-inverse"><i class="fa fa-thumbs-up text-success"></i> 5</a>
                                                <a href="#" class="m-l-10 text-inverse"><i class="fa fa-thumbs-down text-danger"></i> 0</a>
                                            </div>
                                        </div>
                                        <!-- end comment-container -->
                                    </li>
                                </ul>
                                <!-- end comment-list -->
                            </div>
                            <!-- end comment-container -->
                        </li>
                        <li>
                            <!-- begin comment-avatar -->
                            <div class="comment-avatar">
                                <img src="" alt="" />
                            </div>
                            <!-- end comment-avatar -->
                            <!-- begin comment-container -->
                            <div class="comment-container">
                                <div class="comment-author">
                                    Isador Ennio
                                    <span class="comment-date">
                                            on <span class="underline">June 6, 2015</span> at <span class="underline">11:23 pm</span>
                                    </span>
                                </div>
                                <div class="comment-content">
                                    Fusce urna massa, pellentesque eget interdum nec, lacinia nec velit.
                                </div>
                                <div class="comment-btn pull-left">
                                    <a href="#"><i class="fa fa-reply"></i> Reply</a>
                                </div>
                                <div class="comment-rating">
                                    Like or Dislike:
                                    <a href="#" class="m-l-10 text-inverse"><i class="fa fa-thumbs-up text-success"></i> 2</a>
                                    <a href="#" class="m-l-10 text-inverse"><i class="fa fa-thumbs-down text-danger"></i> 0</a>
                                </div>
                            </div>
                            <!-- end comment-container -->
                        </li>
                    </ul>
                    <!-- end comment-list -->
                </div>
                <!-- end section-container -->

                <!-- begin section-container -->
                <div class="section-container">
                    <h4 class="section-title m-b-20"><span>Add a Comment</span></h4>
                    <div class="alert alert-warning f-s-12">
                        Suspendisse vulputate pulvinar nisl, quis rutrum risus pretium ut. Nulla at risus facilisis, consectetur erat nec, posuere justo. Ut elementum, elit pellentesque eleifend semper, elit metus venenatis libero, non fermentum mi est eu neque. Ut vel metus
                        eget tortor viverra varius et quis eros.
                    </div>
                    <form class="form-horizontal" action="" method="POST">
                        <div class="form-group">
                            <label class="control-label f-s-12 col-md-2">Your Name <span class="text-danger">*</span></label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label f-s-12 col-md-2">Your Email <span class="text-danger">*</span></label>
                            <div class="col-md-10">
                                <input type="text" class="form-control" />
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label f-s-12 col-md-2">Comment <span class="text-danger">*</span></label>
                            <div class="col-md-10">
                                <textarea class="form-control" rows="10"></textarea>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <div class="checkbox f-s-12">
                                    <label>
                                            <input type="checkbox" name="email_notify" value="1" />
                                            Notify me of follow-up comments by email.
                                        </label>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-10 col-md-offset-2">
                                <button type="submit" class="btn btn-inverse btn-lg">Submit Comment</button>
                            </div>
                        </div>
                    </form>
                </div>
                <!-- end section-container -->
            </div>
            <!-- end col-9 -->
            <!-- begin col-3 -->
            <div class="col-md-3">
                <!-- begin section-container -->
                <!-- <div class="section-container">
                    <div class="input-group sidebar-search">
                        <input type="text" class="form-control" placeholder="Search Our Stories..." />
                        <span class="input-group-btn">
                                <button class="btn btn-inverse" type="button"><i class="fa fa-search"></i></button>
                            </span>
                    </div>
                </div> -->
                <!-- end section-container -->
                <!-- begin section-container -->
                <!-- <div class="section-container">
                    <h4 class="section-title"><span>Categories</span></h4>
                    <ul class="sidebar-list">
                        <li><a href="#">Sports (20)</a></li>
                        <li><a href="#">Outdoor Sports (45)</a></li>
                        <li><a href="#">Indoor Sports (1,292)</a></li>
                        <li><a href="#">Video Shooting (12)</a></li>
                        <li><a href="#">Drone (229)</a></li>
                        <li><a href="#">Uncategorized (1,482)</a></li>
                    </ul>
                </div> -->
                <!-- end section-container -->
                <!-- begin section-container -->
                 <side-bar-component></side-bar-component>
                <!-- end section-container -->
                <!-- begin section-container -->
                <div class="section-container">
                    <h4 class="section-title"><span>Follow Us</span></h4>
                    <ul class="sidebar-social-list">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
                        <li><a href="#"><i class="fa fa-instagram"></i></a></li>
                    </ul>
                </div>
                <!-- end section-container -->
            </div>
            <!-- end col-3 -->
        </div>
        <!-- end row -->
    </div>
    <!-- end container -->
</div>
<!-- end #content -->
